.login-container {
  width: 350px;
  margin: 100px auto;
  background: rgb(0, 247, 205);
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgb(25, 219, 245);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-container input {
  width: 100%;
  margin-bottom: 20px;
}
